body{
	font-family: 'Roboto', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-width: 100vw;
	margin: 0;
}

/*Backgrounds*/
#home{
	position: cover;
	background-image: url('contact-us-flatlay.jpg');
}
#materias{
	background-image: url('books-2596809_1920.jpg');
	background-size: cover;
}
#editorial{
	/*background-image: url('https://cdn.pixabay.com/photo/2015/06/24/16/36/office-820390_960_720.jpg');*/
	/*background-image: url('coder-1869306_1920.jpg');*/
}



p, h1, h2, h3, h4, h5, h6, li, li.menuNav a{
	color: rgb(24, 24, 24);
	text-align: left;
}

/*estrutura de grid*/
.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px
}
.col2{
	width: 140px
}
.col3{
	width: 220px
}
.col4{
	width: 300px
}
.col5{
	width: 380px
}
.col6{
	width: 460px
}
.col7{
	width: 540px
}
.col8{
	width: 620px
}
.col9{
	width: 700px
}
.col10{
	width: 780px
}
.col11{
	width: 860px
}
.col12{
	width: 940px
}
/*estilos reutilizaveis*/


/*layout*/

/*header e nav*/
.header{
    background-image: linear-gradient(#56B5F0, 70%, transparent);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 5;
	top: 0px;
}

header{
	position: relative;
}
/*header*/

.logo{
    display: inline-flex;
    align-items: center;
	margin-left: 30px;
	height: 180px;
	color: black;
}
.logoNome{
    font-size: 72px;
	margin-right: -5px;
}
.logoNome2{
    float: right;
    margin-left: -15px;
}
.icon{
    width: 72px;
    height: 72px;
    position: static;
    margin-left: -5px;
}
.home{
	text-decoration: none;
	color: black;
}
/*nav*/

.menu{
	display: inline-flex;
	list-style: none;
	margin-right: 15px;
	padding: 0;
}
.menuNav{
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 0 !important;
}
.menuNav:first-child{
	margin-left: 0;
}
.menuNav a{
	text-decoration: none;
	color: black;
	transition: all 0.5s;
}
.menuNav a:hover{
	opacity: 50%;
}


/*main content*/
.main{
	margin: 200px 0 20px 0;
	opacity: 97.5%;
	/*background-image: linear-gradient(to top, white 35%, transparent 75% 100%);*/
}
main{
	background-color: white;
	padding: 25px;
	border-radius: 3px;
	display: flex;
	align-items: left;
	flex-direction: column;
	text-align: left;
}
p{
	text-indent: 20px;
	font-size: 18px;
	margin: 25px 0 25px 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
li{
	margin-bottom: 10px;
}
main a{
	text-decoration: none;
	color: #56B5F0;
}
main a:hover{
	text-decoration: underline;
	opacity: 80%;
}
/*article*/
.article{
	/*background-color: #56B5F0;*/
	background-image: linear-gradient(to top, #56B5F0, 90%, transparent);
	padding-top: 100px;
	max-width: 100%;
}
article{
	display: flex;
	flex-direction: row;
	align-items: center;
}

article a{
	text-decoration: none;
	color: black;
}
article a:hover{
	text-decoration: underline;
	opacity: 80%;
}
/*Rodapé*/
.footer{
	background-color: #31a7f0;
	max-width: 100%;
}
footer{
	display: flex;
	justify-content: center;
}
img{
	max-width: 300px;
	height: auto;
	margin: auto auto;
}
.iconM{
	float: right;
}

ul:last-child li:last-child{
	margin-bottom: 15px;
}

iframe{
	max-width: 100%;
}


/*Tamanhos de fonte*/
h1{
	font-size: 4em;
}
h2{
	font-size: 1.2em;
}


/*Responsividade*/

@media screen and (min-width: 360px) and (max-width: 980px){
	.linha{max-width: 100%; margin: 0px;}
	.col1{width: 8.33333333%;}
	.col2{width: 16.666666667%;}
	.col3{width: 25%;}
	.col4{width: 33.333333333%;}
	.col5{width: 41.66666667%;}
	.col6{width: 50%;}
	.col7{width: 58.333333333%;}
	.col8{width: 66.6666666667%;}
	.col9{width: 75%;}
	.col10{width: 83.333333333%;}
	.col11{width: 91.66666667%;}
	.col12{width: 100%;}
	.coluna{display: flex;flex-direction: column;}
	.logo{
		margin-left: 5px;
		display: flex;
	}
	.logoNome{
		font-size: 30px;
	}
	.logoNome2{
		margin-left: -5px;
	}
	.icon{
		width: 30px;
		height: 30px;
		margin-left: -3px;
	}
	header, .logo{
		height: 90px;
	}
	body{
		max-width: 100vw;
		font-size: 20px;
		background-image: none;
	}
	/*Backgrounds mobile*/
	#home, #materias, #editorial{
		background-image: none;
	}
	.main{
		margin-top: 90px;
	}
	main{
		width: 90%;
		margin: auto;
		padding: 10px;

	}
	div.coluna.col12{
		padding: 0;
	}

	h1{
		font-size: 2.0em;
	}
	h2{
		font-size: 1.1em;
	}
	h3{
		font-size: 1.1em;
	}
	h4{
		font-size: 1.0em;
	}
	h5{
		font-size: 1.0em;
	}
	h6{
		font-size: 1.0em;
	}
	p{
		font-size: 1.0em;
	}
	li{
		font-size: 1.0em;
	}
	p{
		max-width: 95%;
		margin-right: 0;
	}
	article{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.menuNav a{
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 0;
	}
	li.menuNav{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 10px;
	}
	li.menuNav:last-child{
		margin-right: 0;
	}
	.menu{
		margin-right: 5px;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}